/* Fonts from Google Fonts - more at https://fonts.google.com */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
@import url('https://fonts.googleapis.com/css?family=Merriweather:400,700');

body {
  background-color: white;
  font-family: "Courier new",monospace;
  align-content: space-between;
  padding: 0px 25px 0px 25px;
  font-size: 18px;
  margin: 0;
  color: #444;
}
be {
  background-color: white;
  font-family: "Courier new",monospace;
  align-content:space-around;
  padding: 0px 25px 0px 25px;
  font-weight: bold
  font-size: 18px;
  margin: 0;
  color:darkslateblue;
}/*Texto en inglés*/
h1 {
  font-family: "Courier", monospace;
  font-size: 32px;
  font-weight: bold
}
h2 {
  font-family: "Courier", monospace;
  font-size: 28px;
}
ig{
  font-family: "Courier New",monospace;
  font-style: italic;
  color:dimgray;
} /*itálica y gris para fechas */

h {
  background-color: #f1fc08;
  font-family: "Courier new",monospace;
  font-size: 18px;
  font-weight: bold;
  margin: 0;
  color: #444;
}/* highlight Subrayado en fluorescente */

ht {
  background-color: white;
  font-family: "Courier new",monospace;
  font-weight: bold;
  font-size: 18px;
  margin: 0;
  color: #a00606;
}/* hashtag Palabras clave o etiquetas*/
.link { color: #a00606; 
}/*link*/
.linked { color:darkred; 
}/*linked; ya visitado*/
