body{
    background-color: white;
    font-family: Monospace;
    padding: 5px 25px;
    font-size: 18px;
    margin: 0;
    color: #000000;
  }/* Texto definitivo */
  note{
    font-family: Monospace;
    padding: 5px 25px;
    font-size: 18px;
    margin: 0;
    color: #232F6C;
  } /* Comentario de cosecha propia */
  cita{
    font-family: serif;
    padding: 5px 25px;
    font-size: 18px;
     font-style: italic;
    margin: 0;
    color: #03A9F4;
  }/* Cita referenciada */
  okbg {
    background-color: green;
    font-family:monospace;
    font-size: 18px;
    font-weight: bold;
    margin: 0;
    color: white;
  }/* HECHO */
  hbg {
    background-color: #ffff00;
    font-family:monospace;
    font-size: 18px;
    font-weight: bold;
    margin: 0;
    color: black;
  }/* Importante */
  ibg {
    background-color: #FF3C91;
    font-family:monospace;
    font-size: 18px;
    font-weight: bold;
    margin: 0;
    color: black;
  }/* Crítico */
  h1 {
    font-family: Monospace;
    font-size: 32px;
    font-weight: bold;
  }
  h2 {
    font-family: Monospace;
    font-size: 26px;
    font-weight: bold;
  }
  hr {color: #607D8B;
  }
  draft{font-family: Monospace;
    padding: 5px 25px;
    font-size: 18px;
    font-style: italic;
    margin: 0;
    color: #B4B0B0;
  }/* Borrador*/
  
  ref{
    font-family: serif;
    padding: 5px 25px;
    font-size: 16px;
     font-style: italic;
    margin: 0;
    color: #B4B0B0;
  }/* Pie de página */